#header {
    display: flex;
    justify-content:space-between ;
}
#cards{
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px;
}
#cards div{
    width: 25%;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}
img {
    width: 80%;
}
#ab{
  width: 100%;
  display: flex;
  justify-content: center;
}
#about{
    width: 80%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2{
    padding-bottom: 20px;
}
#footer{
    width: 100%;
    display: flex;
    justify-content: center;
}
#div9{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
.one{
    width: 35%;
    display: flex;
    flex-direction: column;
}
.two{
    width: 35%;
}
.three{
    width: 35%;
}
.uniq{
    display: flex;
    align-items: center;
    gap: 10px;
}
.uniq img{
    width: 50px;
    height: 50px;
}
.three div{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.three div p{
    padding: 5px;
    background: gray;
    color: aliceblue;
}
#tr{
    background: #000;
    color: aliceblue;
}
